.a{
  background-color: #21595e;
  color: aliceblue;
  height: 900px;
}

.loader {
  font-size: 48px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  letter-spacing: 2px;
  position: absolute;
  top: 30%;
  left: 43%;
  box-sizing: border-box;
}

.loader::after {
  content: 'Welcome';
  position: absolute;
  left: 0;
  top: 0;
  color: #257f57;
  text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* -- */

.button {
  width: 150px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  background: 
  #21595e;
  color: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 20%;
  left: 45%;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background: #408E91;
  color: white;
  font-size: 1.5em;
}

.NavBar{
  padding-top: 13px;
  text-decoration: none;
}



.more {
  width: 150px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  background: 
  #21595e;
  color: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 60%;
  left: 45%;
  padding-top: 14px;
}

.more:hover {
  background: #408E91;
  color: white;
  font-size: 1.5em;
}

.line  {
  position: absolute;
  top: 36%;
  left: 45%;

}

.c {
  
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;

}




.c::before,
.c::after {
  content: "";
  position: absolute;
  left: -53%;
  top: -9%;
  width: 200%;
  border-top: 1px solid #AFDE75;
}

.c::before {
  margin-top: -10px; 
}

.c::after {
  margin-top: 1px;
}

h1 {
  margin-top: 20px;
}


/* for Services */
.b{
  background-color: #617C7E;
  color: aliceblue;
  height: 930px;
}

.se {
  position: relative;
  
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;

}







.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  padding: 20px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}

.ser{
  padding-left: 200px;
  padding-top: 400px;
}

.serr{
  padding-left: 800px;
  padding-top: 200px;
}

/* boxCSS */

.gb{
  background-color: #21595e;
  color: aliceblue;
  height: 1100px;
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  height: 360px;
  width: 360px;

}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
}

.item img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }

.buy-now {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.cart {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  display: inline-block;
}


/* glass */

.glass{
  height: 500px;
  width: 800px;
  margin: 200px auto;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
